# credentials
**/credentials.*
**/credentials
credentials
**/notifier
notifier

# executables
iqdb/iqdb
**/*.o

# config files
.vscode

# database files
**/*.db
**/*.sql
databaseIDs.json

# images
**/*.jpg
**/*.png
**/*.gif
**/*.ico
**/*.svg

# python files
**/__pycache__
**/Pipfile
server.py

# text files, except a requirements file, should it exist
*.log
*.txt
*.out
!requirements.txt

# back ups of files hosted remotely
**/backups

# experimental things
libparseform.so
parseform.cpp
parseform.py
cf
ignore*

# grab template files
!*template.*

# grab ALL markdown files. These are all readmes, setups, and tutorials
!**/*.md
