# credentials
**/credentials.*
**/credentials
credentials

# executables
**/*.o

# config files
.vscode

# database files
**/*.db
**/*.sql

# images
**/*.jpg
**/*.png
**/*.gif
**/*.ico
**/*.svg

# python files
**/__pycache__
**/Pipfile
**/.py*
server.py

# text files, except a requirements file, should it exist
*.log
*.txt
*.out
!requirements.txt

# back ups of files hosted remotely
**/backups

# experimental things
ignore*

# grab template files
!*template.*

# grab ALL markdown files. These are all readmes, setups, and tutorials
!**/*.md
